105_ikki/App_WebReferences/Member/member.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HaveJoinAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActionNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaveJoinActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HaveJoinActionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberDSForEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberDSForEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberDSForEmailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberDSForUid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberDSForUidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberDSForUidResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActionMemberLoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActionNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActionMemberLoginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberLoginCheckEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberLoginCheckEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberLoginCheckBirthday">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberLoginCheckBirthdayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberLoginCheckMarry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberLoginCheckMarryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CareerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartEmailResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="DSMember">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HaveJoinActionSoapIn">
    <wsdl:part name="parameters" element="tns:HaveJoinAction" />
  </wsdl:message>
  <wsdl:message name="HaveJoinActionSoapOut">
    <wsdl:part name="parameters" element="tns:HaveJoinActionResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberDSForEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberDSForEmail" />
  </wsdl:message>
  <wsdl:message name="GetMemberDSForEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberDSForEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberDSForUidSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberDSForUid" />
  </wsdl:message>
  <wsdl:message name="GetMemberDSForUidSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberDSForUidResponse" />
  </wsdl:message>
  <wsdl:message name="ActionMemberLoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:ActionMemberLoginCheck" />
  </wsdl:message>
  <wsdl:message name="ActionMemberLoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:ActionMemberLoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="MemberLoginCheckEditSoapIn">
    <wsdl:part name="parameters" element="tns:MemberLoginCheckEdit" />
  </wsdl:message>
  <wsdl:message name="MemberLoginCheckEditSoapOut">
    <wsdl:part name="parameters" element="tns:MemberLoginCheckEditResponse" />
  </wsdl:message>
  <wsdl:message name="MemberLoginCheckBirthdaySoapIn">
    <wsdl:part name="parameters" element="tns:MemberLoginCheckBirthday" />
  </wsdl:message>
  <wsdl:message name="MemberLoginCheckBirthdaySoapOut">
    <wsdl:part name="parameters" element="tns:MemberLoginCheckBirthdayResponse" />
  </wsdl:message>
  <wsdl:message name="MemberLoginCheckMarrySoapIn">
    <wsdl:part name="parameters" element="tns:MemberLoginCheckMarry" />
  </wsdl:message>
  <wsdl:message name="MemberLoginCheckMarrySoapOut">
    <wsdl:part name="parameters" element="tns:MemberLoginCheckMarryResponse" />
  </wsdl:message>
  <wsdl:message name="StartEmailSoapIn">
    <wsdl:part name="parameters" element="tns:StartEmail" />
  </wsdl:message>
  <wsdl:message name="StartEmailSoapOut">
    <wsdl:part name="parameters" element="tns:StartEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="MemberSoap">
    <wsdl:operation name="HaveJoinAction">
      <wsdl:input message="tns:HaveJoinActionSoapIn" />
      <wsdl:output message="tns:HaveJoinActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberDSForEmail">
      <wsdl:input message="tns:GetMemberDSForEmailSoapIn" />
      <wsdl:output message="tns:GetMemberDSForEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberDSForUid">
      <wsdl:input message="tns:GetMemberDSForUidSoapIn" />
      <wsdl:output message="tns:GetMemberDSForUidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActionMemberLoginCheck">
      <wsdl:input message="tns:ActionMemberLoginCheckSoapIn" />
      <wsdl:output message="tns:ActionMemberLoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckEdit">
      <wsdl:input message="tns:MemberLoginCheckEditSoapIn" />
      <wsdl:output message="tns:MemberLoginCheckEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckBirthday">
      <wsdl:input message="tns:MemberLoginCheckBirthdaySoapIn" />
      <wsdl:output message="tns:MemberLoginCheckBirthdaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckMarry">
      <wsdl:input message="tns:MemberLoginCheckMarrySoapIn" />
      <wsdl:output message="tns:MemberLoginCheckMarrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartEmail">
      <wsdl:input message="tns:StartEmailSoapIn" />
      <wsdl:output message="tns:StartEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberSoap" type="tns:MemberSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HaveJoinAction">
      <soap:operation soapAction="http://tempuri.org/HaveJoinAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberDSForEmail">
      <soap:operation soapAction="http://tempuri.org/GetMemberDSForEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberDSForUid">
      <soap:operation soapAction="http://tempuri.org/GetMemberDSForUid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActionMemberLoginCheck">
      <soap:operation soapAction="http://tempuri.org/ActionMemberLoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckEdit">
      <soap:operation soapAction="http://tempuri.org/MemberLoginCheckEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckBirthday">
      <soap:operation soapAction="http://tempuri.org/MemberLoginCheckBirthday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckMarry">
      <soap:operation soapAction="http://tempuri.org/MemberLoginCheckMarry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartEmail">
      <soap:operation soapAction="http://tempuri.org/StartEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberSoap12" type="tns:MemberSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HaveJoinAction">
      <soap12:operation soapAction="http://tempuri.org/HaveJoinAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberDSForEmail">
      <soap12:operation soapAction="http://tempuri.org/GetMemberDSForEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberDSForUid">
      <soap12:operation soapAction="http://tempuri.org/GetMemberDSForUid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActionMemberLoginCheck">
      <soap12:operation soapAction="http://tempuri.org/ActionMemberLoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckEdit">
      <soap12:operation soapAction="http://tempuri.org/MemberLoginCheckEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckBirthday">
      <soap12:operation soapAction="http://tempuri.org/MemberLoginCheckBirthday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberLoginCheckMarry">
      <soap12:operation soapAction="http://tempuri.org/MemberLoginCheckMarry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartEmail">
      <soap12:operation soapAction="http://tempuri.org/StartEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Member">
    <wsdl:port name="MemberSoap" binding="tns:MemberSoap">
      <soap:address location="http://home.wanggroup.com/wangwebsite/member.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberSoap12" binding="tns:MemberSoap12">
      <soap12:address location="http://home.wanggroup.com/wangwebsite/member.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>