WS/App_WebReferences/Common/Common.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Cupon_Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cupon_QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DSCupon">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Cupon_QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Cupon_Query" />
  </wsdl:message>
  <wsdl:message name="Cupon_QuerySoapOut">
    <wsdl:part name="parameters" element="tns:Cupon_QueryResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonSoap">
    <wsdl:operation name="Cupon_Query">
      <wsdl:input message="tns:Cupon_QuerySoapIn" />
      <wsdl:output message="tns:Cupon_QuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonSoap" type="tns:CommonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cupon_Query">
      <soap:operation soapAction="http://tempuri.org/Cupon_Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonSoap12" type="tns:CommonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cupon_Query">
      <soap12:operation soapAction="http://tempuri.org/Cupon_Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Common">
    <wsdl:port name="CommonSoap" binding="tns:CommonSoap">
      <soap:address location="http://home.wanggroup.com/wangwebsite/Common.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonSoap12" binding="tns:CommonSoap12">
      <soap12:address location="http://home.wanggroup.com/wangwebsite/Common.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>