hot7/App_WebReferences/wsGetBarcode/GetBarcode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Bar_BarcodeSendLog_Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EVTGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Bar_BarcodeSendLog_SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Bar_BarcodeSendLog_SelectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Bar_BarcodeSendLog_SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Bar_BarcodeSendLog_Select" />
  </wsdl:message>
  <wsdl:message name="Bar_BarcodeSendLog_SelectSoapOut">
    <wsdl:part name="parameters" element="tns:Bar_BarcodeSendLog_SelectResponse" />
  </wsdl:message>
  <wsdl:portType name="GetBarcodeSoap">
    <wsdl:operation name="Bar_BarcodeSendLog_Select">
      <wsdl:input message="tns:Bar_BarcodeSendLog_SelectSoapIn" />
      <wsdl:output message="tns:Bar_BarcodeSendLog_SelectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetBarcodeSoap" type="tns:GetBarcodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bar_BarcodeSendLog_Select">
      <soap:operation soapAction="http://tempuri.org/Bar_BarcodeSendLog_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetBarcodeSoap12" type="tns:GetBarcodeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Bar_BarcodeSendLog_Select">
      <soap12:operation soapAction="http://tempuri.org/Bar_BarcodeSendLog_Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetBarcode">
    <wsdl:port name="GetBarcodeSoap" binding="tns:GetBarcodeSoap">
      <soap:address location="http://192.168.0.101/wangwebsite/GetBarcode.asmx" />
    </wsdl:port>
    <wsdl:port name="GetBarcodeSoap12" binding="tns:GetBarcodeSoap12">
      <soap12:address location="http://192.168.0.101/wangwebsite/GetBarcode.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>