hot7/App_WebReferences/wsMember/member.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Wow_MemberLoginCheck2APP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Wow_MemberLoginCheck2APPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Message" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Wow_MemberForgetPwd2APP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Wow_MemberForgetPwd2APPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Message" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Wow_MemberSet2APP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Wow_MemberSet2APPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Message" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Wow_MemberVIP2APP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Wow_MemberVIP2APPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Message" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Wow_MemberLoginCheck2APPSoapIn">
    <wsdl:part name="parameters" element="tns:Wow_MemberLoginCheck2APP" />
  </wsdl:message>
  <wsdl:message name="Wow_MemberLoginCheck2APPSoapOut">
    <wsdl:part name="parameters" element="tns:Wow_MemberLoginCheck2APPResponse" />
  </wsdl:message>
  <wsdl:message name="Wow_MemberForgetPwd2APPSoapIn">
    <wsdl:part name="parameters" element="tns:Wow_MemberForgetPwd2APP" />
  </wsdl:message>
  <wsdl:message name="Wow_MemberForgetPwd2APPSoapOut">
    <wsdl:part name="parameters" element="tns:Wow_MemberForgetPwd2APPResponse" />
  </wsdl:message>
  <wsdl:message name="Wow_MemberSet2APPSoapIn">
    <wsdl:part name="parameters" element="tns:Wow_MemberSet2APP" />
  </wsdl:message>
  <wsdl:message name="Wow_MemberSet2APPSoapOut">
    <wsdl:part name="parameters" element="tns:Wow_MemberSet2APPResponse" />
  </wsdl:message>
  <wsdl:message name="Wow_MemberVIP2APPSoapIn">
    <wsdl:part name="parameters" element="tns:Wow_MemberVIP2APP" />
  </wsdl:message>
  <wsdl:message name="Wow_MemberVIP2APPSoapOut">
    <wsdl:part name="parameters" element="tns:Wow_MemberVIP2APPResponse" />
  </wsdl:message>
  <wsdl:portType name="MemberSoap">
    <wsdl:operation name="Wow_MemberLoginCheck2APP">
      <wsdl:input message="tns:Wow_MemberLoginCheck2APPSoapIn" />
      <wsdl:output message="tns:Wow_MemberLoginCheck2APPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberForgetPwd2APP">
      <wsdl:input message="tns:Wow_MemberForgetPwd2APPSoapIn" />
      <wsdl:output message="tns:Wow_MemberForgetPwd2APPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberSet2APP">
      <wsdl:input message="tns:Wow_MemberSet2APPSoapIn" />
      <wsdl:output message="tns:Wow_MemberSet2APPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberVIP2APP">
      <wsdl:input message="tns:Wow_MemberVIP2APPSoapIn" />
      <wsdl:output message="tns:Wow_MemberVIP2APPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberSoap" type="tns:MemberSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Wow_MemberLoginCheck2APP">
      <soap:operation soapAction="http://tempuri.org/Wow_MemberLoginCheck2APP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberForgetPwd2APP">
      <soap:operation soapAction="http://tempuri.org/Wow_MemberForgetPwd2APP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberSet2APP">
      <soap:operation soapAction="http://tempuri.org/Wow_MemberSet2APP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberVIP2APP">
      <soap:operation soapAction="http://tempuri.org/Wow_MemberVIP2APP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberSoap12" type="tns:MemberSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Wow_MemberLoginCheck2APP">
      <soap12:operation soapAction="http://tempuri.org/Wow_MemberLoginCheck2APP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberForgetPwd2APP">
      <soap12:operation soapAction="http://tempuri.org/Wow_MemberForgetPwd2APP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberSet2APP">
      <soap12:operation soapAction="http://tempuri.org/Wow_MemberSet2APP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Wow_MemberVIP2APP">
      <soap12:operation soapAction="http://tempuri.org/Wow_MemberVIP2APP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Member">
    <wsdl:port name="MemberSoap" binding="tns:MemberSoap">
      <soap:address location="https://eip2.wowprime.com/web2app/member.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberSoap12" binding="tns:MemberSoap12">
      <soap12:address location="https://eip2.wowprime.com/web2app/member.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>