WS/App_WebReferences/Crm2WebMember/Crm2WebMember.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberIsStart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberIsStartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrmMemberIsStartResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DSMember">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProcessWebMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSbWebMember" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStrCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProcessWebMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberCheckEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCareerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberCheckEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrmMemberCheckEmailResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DSMember">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberCheckBarCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberCheckBarCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrmMemberCheckBarCodeResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberGetCustmain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberGetCustmainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrmMemberGetCustmainResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberUpdateProject_2016">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCellPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sStreet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBirthDay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMarryDay_ymd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMarryDay_md" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sGender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCustID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberUpdateProject_2016Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrmMemberUpdateProject_2016Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberUpdateProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrmMemberUpdateProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrmMemberUpdateProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CrmMemberIsStartSoapIn">
    <wsdl:part name="parameters" element="tns:CrmMemberIsStart" />
  </wsdl:message>
  <wsdl:message name="CrmMemberIsStartSoapOut">
    <wsdl:part name="parameters" element="tns:CrmMemberIsStartResponse" />
  </wsdl:message>
  <wsdl:message name="GetProcessWebMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetProcessWebMember" />
  </wsdl:message>
  <wsdl:message name="GetProcessWebMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetProcessWebMemberResponse" />
  </wsdl:message>
  <wsdl:message name="CrmMemberCheckEmailSoapIn">
    <wsdl:part name="parameters" element="tns:CrmMemberCheckEmail" />
  </wsdl:message>
  <wsdl:message name="CrmMemberCheckEmailSoapOut">
    <wsdl:part name="parameters" element="tns:CrmMemberCheckEmailResponse" />
  </wsdl:message>
  <wsdl:message name="CrmMemberCheckBarCodeSoapIn">
    <wsdl:part name="parameters" element="tns:CrmMemberCheckBarCode" />
  </wsdl:message>
  <wsdl:message name="CrmMemberCheckBarCodeSoapOut">
    <wsdl:part name="parameters" element="tns:CrmMemberCheckBarCodeResponse" />
  </wsdl:message>
  <wsdl:message name="CrmMemberGetCustmainSoapIn">
    <wsdl:part name="parameters" element="tns:CrmMemberGetCustmain" />
  </wsdl:message>
  <wsdl:message name="CrmMemberGetCustmainSoapOut">
    <wsdl:part name="parameters" element="tns:CrmMemberGetCustmainResponse" />
  </wsdl:message>
  <wsdl:message name="CrmMemberUpdateProject_2016SoapIn">
    <wsdl:part name="parameters" element="tns:CrmMemberUpdateProject_2016" />
  </wsdl:message>
  <wsdl:message name="CrmMemberUpdateProject_2016SoapOut">
    <wsdl:part name="parameters" element="tns:CrmMemberUpdateProject_2016Response" />
  </wsdl:message>
  <wsdl:message name="CrmMemberUpdateProjectSoapIn">
    <wsdl:part name="parameters" element="tns:CrmMemberUpdateProject" />
  </wsdl:message>
  <wsdl:message name="CrmMemberUpdateProjectSoapOut">
    <wsdl:part name="parameters" element="tns:CrmMemberUpdateProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="Crm2WebMemberSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrmMemberIsStart">
      <wsdl:input message="tns:CrmMemberIsStartSoapIn" />
      <wsdl:output message="tns:CrmMemberIsStartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessWebMember">
      <wsdl:input message="tns:GetProcessWebMemberSoapIn" />
      <wsdl:output message="tns:GetProcessWebMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrmMemberCheckEmail">
      <wsdl:input message="tns:CrmMemberCheckEmailSoapIn" />
      <wsdl:output message="tns:CrmMemberCheckEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrmMemberCheckBarCode">
      <wsdl:input message="tns:CrmMemberCheckBarCodeSoapIn" />
      <wsdl:output message="tns:CrmMemberCheckBarCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrmMemberGetCustmain">
      <wsdl:input message="tns:CrmMemberGetCustmainSoapIn" />
      <wsdl:output message="tns:CrmMemberGetCustmainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrmMemberUpdateProject_2016">
      <wsdl:input message="tns:CrmMemberUpdateProject_2016SoapIn" />
      <wsdl:output message="tns:CrmMemberUpdateProject_2016SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrmMemberUpdateProject">
      <wsdl:input message="tns:CrmMemberUpdateProjectSoapIn" />
      <wsdl:output message="tns:CrmMemberUpdateProjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Crm2WebMemberSoap" type="tns:Crm2WebMemberSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberIsStart">
      <soap:operation soapAction="http://tempuri.org/CrmMemberIsStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessWebMember">
      <soap:operation soapAction="http://tempuri.org/GetProcessWebMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberCheckEmail">
      <soap:operation soapAction="http://tempuri.org/CrmMemberCheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberCheckBarCode">
      <soap:operation soapAction="http://tempuri.org/CrmMemberCheckBarCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberGetCustmain">
      <soap:operation soapAction="http://tempuri.org/CrmMemberGetCustmain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberUpdateProject_2016">
      <soap:operation soapAction="http://tempuri.org/CrmMemberUpdateProject_2016" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberUpdateProject">
      <soap:operation soapAction="http://tempuri.org/CrmMemberUpdateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Crm2WebMemberSoap12" type="tns:Crm2WebMemberSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberIsStart">
      <soap12:operation soapAction="http://tempuri.org/CrmMemberIsStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessWebMember">
      <soap12:operation soapAction="http://tempuri.org/GetProcessWebMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberCheckEmail">
      <soap12:operation soapAction="http://tempuri.org/CrmMemberCheckEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberCheckBarCode">
      <soap12:operation soapAction="http://tempuri.org/CrmMemberCheckBarCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberGetCustmain">
      <soap12:operation soapAction="http://tempuri.org/CrmMemberGetCustmain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberUpdateProject_2016">
      <soap12:operation soapAction="http://tempuri.org/CrmMemberUpdateProject_2016" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrmMemberUpdateProject">
      <soap12:operation soapAction="http://tempuri.org/CrmMemberUpdateProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Crm2WebMember">
    <wsdl:port name="Crm2WebMemberSoap" binding="tns:Crm2WebMemberSoap">
      <soap:address location="http://eip2.wanggroup.com/web2app/Crm2WebMember.asmx" />
    </wsdl:port>
    <wsdl:port name="Crm2WebMemberSoap12" binding="tns:Crm2WebMemberSoap12">
      <soap12:address location="http://eip2.wanggroup.com/web2app/Crm2WebMember.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>